header{
  /* background-image : url('banner1.jpg') !important; */
  background-color: aquamarine;
  background-size: 1700px 500px;
  background-position: left center;
  height : 200px;
  text-decoration: none;
}